.display1{
    position: absolute;
    background: #E9E9E9;
    width: 100%;
    height: 1024px;
    user-select: none;

    div{
        display: grid;
        align-items: center;
        grid-template-columns: 2fr 3fr; 
        position: absolute;
        top: 320px;
        left: 50%;
        transform: translateX(-50%);
        mix-blend-mode: multiply;

        h1{
            color: #716565;
            text-align: center;
            font: 700 82px 'Roboto Condensed', sans-serif;
            margin-right: 30px;
            width: 400px;
        }
    }
}